## Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

The following code contain same example:

In [ ]:
#integer
3

In [ ]:
#float
3.14

In [ ]:
#string
"Salam World"

You can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [ ]:
#type of 3
type(3)

In [ ]:
#type of 3.1475
type(3.1475)

In [2]:
# type of "Salam"
type("Salam")

str

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

# Integers
Integers can be negative or positive numbers:


We can verify this is the case by using, you guessed it, the type() function:

In [3]:
#type of -1
type(-1)

int

In [4]:
#type of -15
type(-15)

int

In [5]:
#type of 0
type(0)

int

Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.

Once again, can test some examples with the type() function:

In [7]:
#type of 2.1
type(2.1)

float

In [9]:
#type of 0.87
type(0.87)

float

In [10]:
#type of 0.1
type(0.1)

float

In [12]:
# System setting about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

## Converting from one object type to a different object type
You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float (e.g. 2 to 2.0).

Let's try it:

In [13]:
#Verify it is an integer
type(2)

int

In [ ]:
#Convert 2 to float
float(2)

2.0

In [16]:
#Convert 2 to float and then check its type
type(float(2))

float

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 2.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [17]:
#Convert float 2.1 to integer
int(2.1)

2

## Converting from strings to integers or floats
Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int():

In [18]:
#Convert a string into integer
int("1")

1

In [19]:
#Convert string into integer
int("1 and 2 are integer")

ValueError: invalid literal for int() with base 10: '1 and 2 are integer'

But if you try to do so with a string that is not a perfect match for a number, you'll get an error.
### Rule of thumb
int → str is always possible ✅

str → int is possible only if the string is a valid number literal in the given base ✅❌

 Try the following:

In [22]:
#Convert string to float
float("2.1")

2.1

[Tip:] Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

Converting numbers to strings
If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [23]:
#Convert an integer to string
str(34)

'34'








And there is no reason why we shouldn't be able to make floats into strings as well:

In [1]:
#Convert float into str
str(3.5)

'3.5'

## Boolean data type¶
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [25]:
#Value true
True

True

Notice that the value True has an uppercase "T". The same is true for False (i.e. you must use the uppercase "F").

In [26]:
#Value False
False

False

When you ask Python to display the type of a boolean object it will show bool which stands for boolean:

In [ ]:
#Check type of False
type(True)

bool

In [28]:
#Check type of False
type(False)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [ ]:
#Convert True to integer
int(True)

1

In [ ]:

#Convert False to integer
int(False)

0

In [31]:
#Convert 1 to boolean
bool(1)

True

In [32]:
#Convert 0 to boolean
bool(0)

False

What is the data type of the result of: 6 / 2?

In [34]:
#Check the type of 6/2
type(6/2)

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [ ]:
#Check the type of 6//2
type(6//2)

int

What is the type of the result of: "Hello, World!"

In [35]:
#Check the type
type("Hello, World!")

str








What is the type of the result of: "hello" == "world"

In [ ]:
#Check the type

Write the code to convert the following number representing employeeid "1001" to an integer

Write the code to convert this number representing financial value "1234.56" to a floating point number

Write the code to convert this phone number 123-456-7890 to a string